<div class="cop">
    <app-back-button></app-back-button>
    <div class="header">
        <div class="header__text">
            <div class="header__date">
                30.11.2023
            </div>
            <h1>
                COP28: изменение климата требует решительных действий
            </h1>
        </div>
        <img class="photo-cop" src="assets/news/cop.jpg">
    </div>
    <div>
        <div class="main__title__text">
            Чего ждать от климатической конференции в ОАЭ
        </div>

        <div class="main__text">
            Глобальные температуры бьют рекорды, а экстремальные погодные явления затрагивают людей по всему миру. В таких условиях конференция ООН по изменению климата в этом году — COP28 — становится прекрасной возможностью скорректировать курс и начать предпринимать более активные действия по преодолению климатического кризиса.                 
        </div>

        <div class="main__title__text__2"> 
            Что такое COP?
        </div>

        <div class="main__text">
            <b>Конференция сторон рамочной конвенции ООН об изменении климата (РКИК ООН),</b> или просто Конференция сторон (Conference of parties – COP) — это ежегодные встречи стран мира, посвящённые вопросам борьбы с изменением климата.

            <p>
                В этом году COP28 проходит в Объединенных Арабских Эмиратах (Дубай) с 30 ноября по 12 декабря. Это 28-я по счёту Конференция сторон. Первая состоялась в 1995 году после  ратификации Рамочной конвенции ООН об изменении климата в 1994 году. Главная цель конвенции — предотвратить опасное влияние деятельности человека на климатическую систему. На сегодня Конвенцию ратифицировали 197 стран. 
            </p>

            <img class="img__gift" src="assets/news/cop2.jpg">

            <p>
                Ожидается, что в COP28 примут участие более 60 тысяч человек, включая делегатов из стран-членов Конвенции, лидеров отрасли, климатических активистов, представителей коренных народов, журналистов и других заинтересованных сторон.
            </p>
        </div>

        <div class="main__title__text__2">
            Почему COP28 так важен?
        </div>

        <div class="main__text">
            В 2015 году страны ООН на СОР21 приняли Парижское соглашение, которое стало расширением Конвенции об изменении климата. Ключевая цель соглашения —  удержать повышение средней глобальной температуры до 2°C по сравнению с доиндостриальным периодом 1850-х годов и «приложить усилия», чтобы рост температуры не превысил 1,5°C. На последующих Конференциях сторон в Катовице (СОР24) и в Глазго (COP26) был разработан план действий, а на  COP27 в Шарм-эль-Шейхе мир переключился на практическую реализацию соглашения. Ожидается, что COP28 в Дубае станет поворотным, и страны смогут договориться о том, как всем вместе предпринимать более решительные меры по борьбе с изменением климата. 

            <p>
                Именно на COP28 должны быть подведены предварительные итоги, насколько успешно страны движутся к реализации Парижского соглашения, нужно ли странам поставить перед собой более амбициозные цели и скорректировать свои планы.
            </p>

            <p>
                Предварительные итоги, опубликованные в сентябре, указывают на то, что в ближайшие пять лет нужно предпринять гораздо более решительные действия, чтобы предотвратить потепление на 1,5°C.
            </p>

            <p>
                Ещё одним важным вопросом для обсуждения на COP28 станет финансирование и управление так называемым фондом «потерь и ущерба» для стран, которые внесли самый маленький вклад в изменение климата, но при этом больше других пострадали от него. 
            </p>

            <img class="img__gift" src="assets/news/cop3.jpg">
        </div>

        <div class="main__title__text__2">
            Какие они — решительные действия по борьбе с изменением климата?
        </div>

        <div class="main__text">
            <p>
                Генеральный секретарь ООН неоднократно напоминал, что мир всё ещё может ограничить повышение температуры до 1,5°C и избежать худших последствий изменения климата, «но только с помощью решительных, немедленных климатических действий», которые включают в себя:
            </p>

            <ul class="main__text list">
                <li>сокращение выбросов парниковых газов на 45% к 2030 году по сравнению с уровнем 2010 года;</li>
                <li>достижение глобальных чистых нулевых выбросов к 2050 году;</li>
                <li>«справедливый и равноправный переход» от ископаемого топлива (нефти и газа) к возобновляемым источникам энергии;</li>
                <li>увеличение инвестиций в адаптацию и устойчивость к изменению климата.</li>
            </ul>

            <img class="img__gift" src="assets/news/cop4.jpg">

            <p>
                Но есть и ещё кое-что, например, поддержка развивающихся стран в виде климатического финансирования в размере 100 млрд долларов от развитых стран и запуск того самого фонда «потерь и ущерба», который был согласован в прошлом году на COP27. 
            </p>

            <p>
                Мы будем следить за происходящим на COP28 и держать вас в курсе глобальных решений, которые повлияют на то, насколько успешно мир сможет бороться с изменением климата.
            </p>
        </div>
    </div>
</div> 