<div class="hell">
    <app-back-button></app-back-button>
    <div class="header">
        <div class="header__text">
            <div class="header__date">
                01.12.2023
            </div>
            <h1>
                Это портал в ад: в Екатеринбурге обнаружили огромную горящую яму
            </h1>
        </div>
        <img class="photo-hell" src="assets/news/hell.png">
    </div>
    <div>
        <div class="main__title__text">
            Под окнами жителей новостройки сжигают сотни килограммов отходов
        </div>

        <div class="main__text">
            В Екатеринбурге открылся «портал в ад». Глубокую яму, в которой пылает огонь, наблюдают по вечерам жители новостройки в Полимерном переулке, 13 в Завокзальном районе. Менее чем в ста метрах от их дома уничтожают отходы, в основном деревянные поддоны.
            <p>
                — Каждый раз любуемся этим видом, под окнами что-то жгут, какие-то ящики, от них неприятный запах гари. Огонь в яме появляется в основном по вечерам, — рассказала местная жительница Анастасия.
            </p>
            <p>
                Мы побывали на месте, где выкопана яма. К ней можно свободно пройти, ворот на огороженной территории нет. А вот от дома промзона отделена забором.
            </p>
            <p>
                Диаметр дыры на поверхности около пяти метров, а глубина — три метра. Местные жители рассказали, что в ближайшем ангаре сколачивают палеты, а в яме их же утилизируют.
            </p>
            <img class="hell-size" src="assets/news/hell2.png">
            <p>
                Работник, которого мы застали на месте, рассказал, что этот склад арендует компания, занимающаяся ремонтом поддонов, но ее название раскрывать не стал.
            </p>
            <p>
                — Сжигаем часть отходов своего производства, бумагу. Но большую часть отходов забирают люди на дрова, — сообщил мужчина, добавив, что вскоре предприятие может переехать на новое место.
            </p>
            <img class="hell-size" src="assets/news/hell3.png">
            <p>
                В пресс-службе мэрии Екатеринбурга сообщили, что на место выехал квартальный.
            </p>
            <p>
                Те, кто сжигает в яме палеты, нарушают закон, считает президент фонда «Зеленый Урал» Никита Соловьев.
            </p>
            <p>
                — Необходимо понимать, какие именно палеты сжигаются: если на них стоит отметка «МВ», то их категорически запрещено сжигать, так как они прошли обработку химикатами. В данном случае сжигание незаконно и является нарушением Федерального закона от 4 мая 1999 года № 96-ФЗ «Об охране атмосферного воздуха», который говорит, что огонь следует разводить в печи или в емкости; рядом должны быть вода, лопата и песок для пожаротушения, а также телефон для звонка пожарным; нельзя оставлять тлеющий костер без присмотра; огонь можно разводить на расстоянии не менее 50 м от жилых и нежилых зданий, 30 м от лиственных пород деревьев и 100 м от хвойных, — отметил Соловьев.
            </p>
            <p>
                Если нарушение будет доказано, ответственным грозит штраф от двух тысяч рублей для физических лиц до 200 тысяч для юридических.
            </p>
            <p>
                Тема утилизации отходов для Екатеринбурга актуальная. Так, на Широкой Речке поставили линию по переработке мусора, недавно в мэрии прошли общественные обсуждения, на которых жители высказались против такого соседства.
            </p>
            <p>
                В городе заканчивается место на Северном полигоне, и власти безуспешно ищут новое место для переработки, сортировки и складирования отходов. Последнее предложение — территория в поле на юге Сысертского района, в часе езды от мегаполиса. Земля там принадлежит коммунальным олигархам.
            </p>
        </div>
    </div>
</div> 