<div class="fireworks">
    <app-back-button></app-back-button>
    <div class="header">
        <div class="header__text">
            <div class="header__date">
                20.11.2023
            </div>
            <h1>
                Как фейерверки загрязняют природу и вредят человеку
            </h1>
        </div>
        <img class="photo-fireworks" src="assets/news/firework.jpg">
    </div>
    <div>
        <div class="main__title__text">
            Пять причин, почему надо положить конец этому развлечению
        </div>

        <div class="main__text">
            В этом году власти Москвы и Санкт-Петербурга отказались от фейерверков в новогоднюю ночь и на Рождество. Мы понимаем истинную причину этого решения, но хотели бы обратить внимание на экологическую составляющую вопроса.
        
            <p>
                Фейерверки загрязняют окружающую среду токсичными веществами, вредны для здоровья, несут угрозу для домашних и диких животных. Разбираем подробнее, почему фейерверки — это не так весело, как может казаться.
            </p>

        </div>

        <div class="main__title__text__2">
            Загрязнение воздуха
        </div>

        <div class="main__text">
            Наиболее очевидный результат применения фейерверка — загрязнение воздуха. 
            <p>
                В новогодний период станции мониторинга фиксируют превышение в воздухе концентрации взвешенных частиц — это твёрдые частицы, от микроскопических до видимых невооружённым глазом (дым, сажа, жидкие частицы и пыль). Исследование, проведённое в Нью-Йорке, показало, что сразу после фейерверка концентрация твёрдых частиц в воздухе может быть в 8 раз выше нормы и в 10 раз выше, чем загрязнение от автомобильного движения в том же районе. 
            </p>

            <p>
                Такие частицы могут вызвать заболевания нижних дыхательных путей, обострить течение астмы и хронической обструктивной болезни лёгких (ХОБЛ). А повышенные концентрации озона и оксида углерода (угарного газа), которые выделяются при запуске фейерверков, способны вызвать одышку, бронхиальную астму и пневмонию. 
            </p>
        </div>

        <div class="main__title__text__2">
            Тяжёлые металлы
        </div>

        <div class="main__text">
            Фейерверки — результат горения пиротехнических составов. Чтобы придать свечению пироэлементов определённый цвет, в состав фейерверков добавляют соли различных металлов, включая тяжёлые. Например, соли натрия дают жёлтый цвет, меди — синий, бария — зелёный, а соли стронция — красный.
            <p>
                Во время взрыва эти вещества не исчезают бесследно, а создают токсичную дымку из мелких частиц ядовитых аэрозолей и металлов, которые загрязняют воздух, воду и почву. 
            </p>
            <p>
                Попадая в организм, эти металлы могут вызывать заболевания различной тяжести — от рвоты и приступов астмы до заболеваний почек и раковых опухолей.
            </p>
        </div>

        <div class="main__title__text__2">
            Углекислый газ
        </div>

        <div class="main__text">
            Кроме того, при сгорании пиротехнического состава выделяется большое количество углекислого газа. Например, в США после Дня Независимости количество углекислого газа в атмосфере составило 50 тысяч тонн — столько же образовалось бы, если бы сгорело более тысячи гектаров леса.
        </div>

        <div class="main__title__text__2">
            Вред для животных
        </div>

        <div class="main__text">
            Из-за грохота, ярких вспышек и сильного запаха пиротехника очень пугает животных. Диапазон слуха кошек и собак отличается от нашего, поэтому для животных взрывы фейерверков звучит намного громче. В результате питомцы могут убегать и прятаться, иногда у собак появляется тремор и тахикардия. 

            <p>
                Дикие животные во время фейерверка также теряют ориентацию и начинают паниковать. Например, в стрессовом состоянии птицы могут врезаться в стёкла и стены зданий, а звери выбегают на автотрассы и могут погибнут под колёсами машин.
            </p>

            <img src="assets/news/animals.jpg">
        </div>

        <div class="main__title__text__2">
            Травмы и пожары
        </div>

        <div class="main__text">
            В 2021 году применение пиротехники привело к 16 пожарам, а от неправильного использования салютов пострадали 7 человек. В 2020 году такого рода пожаров было более 40.
            <p>
                Некачественные изделия могут взорваться в руках и привести к серьёзным травмам. Всё это делает очевидным ответ на вопрос, а стоят ли того десять минут яркого шоу.
            </p>

            <p>
                <b>В Москве в этом году фейерверка не будет. Такое же решение приняли власти Балашихи, Нижнего Новгорода, Саратова, Сочи, Анапы и Уфы. Мы призываем всех последовать их примеру, отказаться от этой опасной традиции и встретить Новый год без вреда для природы и других людей.</b>
            </p>
        </div>
    </div>
</div>