<div class="ekb-beach">
    <app-back-button></app-back-button>
    <div class="header">
        <div class="header__text">
            <div class="header__date">
                11.07.2023
            </div>
            <h1>
                Фото, на которые больно смотреть: во что превратился екатеринбургский пляж после обилия отдыхающих
            </h1>
        </div>
        <img class="photo-ekb-beach" src="assets/news/ekb-beach.png">
    </div>
    <div>
        <div class="main__title__text">
            Свалка образовалась меньше чем за полтора месяца
        </div>

        <div class="main__text">
            Аномально жаркие уральские дни благоволят активным поездкам к водоемам. Однако некоторым озерам хватает и полутора месяцев, чтобы превратиться в настоящую свалку от обилия недобросовестных отдыхающих.
            <p>
                Екатеринбуржец Дмитрий поделился снимками, сделанными на берегу карьера у «Рамады».
            </p>
            <p>
                — Вдоль самого озера подобных островков куча! И запах соответствующий
            </p>
            <p>
                — Уже несколько лет уральские воды не соответствуют санитарным нормам, и связано это с активным туризмом. Отдыхающие оставляют много мусора, из-за чего вода цветет, а дно заиляется, — считает другой отдыхающий.
            </p>
            <img class="ekb-beach-size" src="assets/news/ekb-beach2.png">
            <p>
                По мнению уральских врачей, свердловские водоемы действительно непригодны для купания. А недавно врач из Екатеринбурга изучила воду из Исети и сняла жуткое видео. В воде из главной реки города оказались червяки, личинки, рачки и другая живность.
            </p>
            <p>
                Прошлым летом в горы мусора превратился берег Таватуя. Почитайте колонку путешественницы-блогера о недостатках Екатеринбурга (главный из них — как раз таки обилие мусора).
            </p>
        </div>
    </div>
</div> 