<div class="dermo">
    <app-back-button></app-back-button>
    <div class="header">
        <div class="header__text">
            <div class="header__date">
                29.09.2023
            </div>
            <h1>
                Жители рассказали, что думают о гигантском мусорном заводе для Екатеринбурга
            </h1>
        </div>
        <img class="photo-dermo" src="assets/news/dermo.png">
    </div>
    <div>
        <div class="main__title__text">
            Объясняем в фотографиях, почему местные против этого коммунального производства
        </div>

        <div class="main__text">
            Под Екатеринбургом к 2027 году откроют большое производство по сортировке, переработке и хранению твердых коммунальных отходов, которые будут привозить со всего мегаполиса. Региональные власти выбрали для этого участок площадью 776 гектаров в Сысертском городском округе. Жители Щелкуна, Никольского, Андреевки и других деревень, которые находятся вокруг, категорически против, о чем уже заявили будущим концессионерам, главе округа и министру ЖКХ Свердловской области на презентации «экологического кластера».
            <p>
                Несогласные говорят, что Сысертский городской округ — едва ли не единственное экологически чистое место в окрестностях Екатеринбурга. Корреспонденты E1.RU отправились в Щелкун, чтобы узнать мнение других горожан насчет полигона и посмотреть на леса и поля, чистоте которых, по словам местных, угрожает полигон.
            </p>
            <p>
                Село Щелкун стоит на берегу Щелкунского озера с 1690 года, в окрестностях — леса и поля. Чуть южнее находится Никольское, далее по старому Челябинскому тракту еще одно село — Андреевка. Примерно в километре от него и расположено место под будущий полигон.
            </p>
            <p>
                В Щелкуне в разгар рабочего дня самое оживленное место — площадь у большой «Монетки». Корреспондент E1.RU хотел найти там людей, которые поддерживают или хотя бы готовы обсуждать строительство мусорного производства, но в это время никто из них в магазин, кажется, не заходил.
            </p>
            <img class="dermo-size" src="assets/news/dermo2.png">
            <p>
                — Здесь нам не нужны эти полигоны. Пускай они себе там, где живут, строят. Это будет правильное решение, — заявил житель Щелкуна Вячеслав.
            </p>
            <p>
                — Нет полигону! Экология нарушается, а здесь люди живут так-то. Не надо, [пусть строят] подальше где-то, — сообщил Сергей.
            </p>
            <img class="dermo-size" src="assets/news/dermo3.png">
            <p>
                Встреченные у «Монетки» жители Щелкуна и окрестностей подчеркивают, как важно сохранить чистоту природы в этих краях.
            </p>
            <p>
                — Это самое экологически чистое место, южный край округа. Поэтому я отрицательно отношусь [к перспективе полигона].
            </p>
            <p>
                Это не будет, как на Западе (не знаю, правда это или нет), когда стоят заводы перерабатывающие, и никто не знает, что это завод. У нас такого не будет, получится полное дерьмо. Только деньги состригут, сделают помойку и угробят всё, — убежден Александр, седой мужчина в красной толстовке с логотипом местного издания «Маяк».
            </p>
            <p>
                — Нечего здесь строить! Во первых, рядом населенные пункты, сельхозугодья и вообще самая чистая среда у нас здесь. Надо как-то делать полигон так, чтобы не мешал никому. Возможно, это будет экономическое подспорье, но не для всего района, а для ряда людей. У населения в целом [жизнь] ухудшится, — считает Владимир Анатольевич.
            </p>
            <p>
                Жители Южного округа Сысертского района обсуждают проблему полигона в общем чате. Сейчас там 850 участников (для сравнения: в Щелкуне по данным переписи населения 2010 года проживало около 3000 человек). С теми, кто активно выступает против строительства мусороперерабатывающего производства и полигона, корреспондент E1.RU побывал на месте будущей площадки. Это большой участок с полем, который, по данным агентства «Новый день», с 2011 года находится в залоге у банка «Агропромкредит», бенефициаром которого является бизнесмен Артем Биков.
            </p>
            <p>
                У местных фермеров есть претензии к тому, как «Агропромкредит» использует земельный участок. Земля много лет не используется по назначению, как сельхозугодья, хотя многие жители Сысерти были бы рады засеять ее или найти ей иное сельскохозяйственное применение.
            </p>
            <p>
                — Местным фермерам не хватает земли, они находят участки далеко от дома, в Челябинской области, в Каменск-Уральском районе обрабатывают земли. А здесь участок, который мы не можем использовать, зато на нем, говорят, надо построить полигон! — говорит Владимир Матющенко, фермер и депутат думы Сысертского ГО. Видно, что большая часть поля, которое может стать полигоном, заросла бурьяном.
            </p>
            <img class="dermo-size" src="assets/news/dermo4.png">
            <p>
                Владимир Матющенко рассказал, что еще беспокоит местных жителей. Он сослался на гидрологические карты, которые говорят, что внизу много подземных вод.
            </p>
            <p>
                — Мы опасаемся, что вредные вещества с полигона будут попадать под землю и с водами распространяться по всему Сысертскому району. Фермеры не против были заниматься на этих аграрных землях своим исконным занятием — выращивать сельхозкультуры. Нам говорят, что, когда построят полигон, тут можно будет гулять, построят теннисные корты. Но для кого, если жителей здесь не будет? Сельское хозяйство умрет напрочь из-за оттока людей с ферм на этот завод. И есть опасения, что местных жителей не так уж и много, будут работать гастарбайтеры. На нашей территории нет ни одного участкового инспектора, который бы следил за порядком. Гастарбайтеры принесут в села неблагополучие, будет разбой, хулиганство из-за выпивки, — считает Владимир Матющенко.
            </p>
            <p>
                Фермер уверен, что даже на территории Сысертского городского округа можно выделить землю промышленного назначения и построить там этот завод, «не навредив людям» и не в ущерб сельхозземлям.
            </p>
        </div>

        <div class="main__title__text__2">
            Взбунтовавшаяся дума
        </div>
        
        <div class="main__text">
            28 сентября Сысертская гордума отказалась менять правила проведения публичных слушаний.

            <p>
                Депутаты решили, что это существенно облегчит разрешение на строительство мусороперерабатывающего предприятия для складирования и сортировки отходов. Поправки предлагали разрешить удаленное участие в обсуждении градостроительных вопросов. Кроме того, результат публичных обсуждений имеет юридическую силу, а вот общественные слушания — это всего лишь рекомендации, которые можно игнорировать.
            </p>
            <p>
                Также 28 сентября министр ЖКХ Николай Смирнов и участник будущей концессии Алексей Бобров презентовали планы по строительству экологического кластера депутатам Сысертской гордумы, где повторили главные тезисы с предыдущей презентации.
            </p>
        </div>

        <div class="main__title__text__2">
            Что говорят в защиту полигона
        </div>

        <div class="main__text">
            За неделю до этого планы по строительству полигона впервые презентовали официально в Сысерти. На собрание приехала большая часть СМИ из Екатеринбурга и местные жители. Министр ЖКХ Николай Смирнов рассказал, что подобные экологические кластеры — это не банальные помойки, а безопасные для окружающей среды места, где работают сразу несколько предприятий по сбору, переработке и хранению отходов. До лета следующего года в области заработают два таких кластера — под Краснотурьинском и в Нижнем Тагиле. Уже идут изыскания по строительству в Красноуфимске и Камышлове.

            <p>
                Что касается места для отходов Екатеринбурга, то чиновники несколько лет выбирали из 26 вариантов и остановились, по их мнению, на самом подходящем.
            </p>

            <img class="dermo-size" src="assets/news/dermo5.png">

            <img class="dermo-size" src="assets/news/dermo6.png">

            <p>
                Техническая зона будущего экокластера составит 154 гектара (а не 700, как опасаются жители). Там расположатся предприятия по переработке, сортировке и хранению отходов. В радиусе километра, на площади в 622 гектара, создадут защитно-рекреационную зону. Кроме рекреационных объектов, там будут работать предприятия — переработчики вторсырья. Такую схему обрисовал министр.
            </p>

            <img class="dermo-size" src="assets/news/dermo7.png">

            <p>
                Один из главных положительных эффектов работы мусороперерабатывающего завода — экономический. Кластер даст тысячу рабочих мест и станет крупным налогоплательщиком в Сысертском районе. Кроме того, Щелкун включат в федеральную программу и сделают опорным населенным пунктом — проще говоря, дадут денег на развитие.
            </p>

            <p>
                Что до опасений по поводу перевозки опасных отходов, это исключено условиями концессионного соглашения. На полигоне будут хранить только безопасные «хвосты», оставшиеся после сортировки и переработки большей части отходов. Грунтовые воды тоже сохранят чистыми с помощью специальных технологий.
            </p>

            <p>
                Мы рассказывали, кто заработает на строительстве полигона под Екатеринбургом. Министр Смирнов обещал, что еще до конца 2020 года власти подберут место для нового мусорного полигона, но проблема заняла гораздо больше времени. Жители Свердловской области, которые выбираются на природу, далеко не всегда убирают за собой мусор. Это приводит к появлению свалок даже на особо охраняемых природных территориях.
            </p>

            <p>
                Как много мусора мы производим, можно понять, взглянув на летние картинки со свердловских пляжей. Люди, живущие в Щелкуне, ранее стали свидетелями сожжения останков мертвых животных возле их села. Дело в том, что там находится место для утилизации и таких отходов.
            </p>
        </div>
    </div>
</div> 