<div class="partners">
  <div class="partners-left">
    <div class="partners-left__text">
      <h1>Мы&nbsp;всегда рады новым друзьям!</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div class="partners-left__buttons">
      <button
        tuiButton
        appearance="green"
      >Стать партнером</button>
      <button
        tuiButton
        appearance="additional"
      >Я уже партнер</button>
    </div>
  </div>
  <div class="partners-right">
    <img src="assets/man.png" class="partners-image"/>
  </div>
</div>
