.auth {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.auth-block {
  width: 500px;
  height: 500px;
  background: #629C23;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
