.header {
  width: 100%;
  height: 64px;
  margin-bottom: 48px;
  --tui-primary: #8AC44B;
}

.logo {
  color: var(--green, #8AC44B);
  font-size: 26px;
  font-style: normal;
  font-weight: 800;
  align-self: center;
  margin: 0 147px 0 0;
  padding: 0;
}
nav {
  padding: 0 132px;
  button {
    font-size: 15px;
    font-weight: bold;
  }
}

.auth {
  margin-left: auto;
  border: none;
  background-color: #ffffff;
  height: 98%;
  cursor: pointer;
}

.auth_true {
  margin-left: auto;
  border: none;
  background-color: #ffffff;
  height: 95%;
  font-weight: bold;
}

