<div class="header">

    <nav
    tuiTabs
    >
      <p class="logo">GreenLink</p>
      <button
        tuiTab
        routerLink=""
      >Карта</button>
      <button
        tuiTab
        routerLink="/news"
      >Новости и советы</button>
      <button
        tuiTab
        routerLink="/about-us"
      >О нас</button>
      <button
        tuiTab
        routerLink="/partners"
      >Партнерам</button>
      <button
        class="auth"
        routerLink="/auth"
        *ngIf="!isAuth"
      >Авторизация</button>
      <p *ngIf="isAuth" class="auth_true">
        user
      </p>
    </nav>

</div>
