<div class="temperature">
    <app-back-button></app-back-button>
    <div class="header">
        <div class="header__text">
            <div class="header__date">
                18.12.2023
            </div>
            <h1>
                Перепады температуры в европейской части России связаны с изменением климата
            </h1>
        </div>
        <img class="photo-temperature" src="assets/news/temperature.jpg">
    </div>
    <div>
        <div class="main__title__text">
            Кто виноват и что делать?
        </div>

        <div class="main__text">
            На этих выходных 15-градусные морозы в Москве резко сменились плюсовой температурой. Такие скачки в погоде становятся всё более привычными и говорят о том, что климат меняется.
            <p>
                По официальным данным, в Москве количество дней с таким опасным явлением как переходы температуры через 0оС в ближайшее десятилетие будет расти. Прогнозируется, что с 2021 по 2025 годы дней, когда температура будет «скакать» из плюса в минус и наоборот, будет 21 день в год, а с 2031 по 2035 годы таких дней может быть уже 28. Прогнозируемое среднее количество дней с таким опасным явлением, как сильный мороз (когда минимальная температура воздуха достигает минус 30оС и ниже) вырастет с 1,77 дня в период 2021–2030 г. до 2,28 в период  2031–2040 г.
            </p>
            <p>
                «И пусть никого не смущает прогноз о росте трескучих морозов, которые будут происходить чаще на фоне глобального роста температуры: изменение температуры — лишь один из индикаторов глобального изменения климата наряду с закислением Мирового океана и ростом количества опасных гидрометеорологических явлений. На фоне роста средней температуры морозные откаты или снегопад в странах, где когда-то не видели снега, — вполне прогнозируемое и уже нередкое явление», — комментирует эксперт по климату и энергетике проекта «Земля касается каждого» Владимир Чупров. 
            </p>
            <p>
                «Но что важно отметить: каждый раз, откапывая из сугроба машину и мешая ногами снежную кашу, нужно помнить, что это будет происходить чаще и такие неудобства в конечном счете — цена сжигания угля, нефти, газа и связанного с этим  глобального изменения климата, вызванного человеком», — добавляет эксперт.
            </p>
            <p>
                Хорошая новость — человечество осознало проблему климатического кризиса, с его катастрофическими пожарами, наводнениями, подъёмом уровня океана. Но договориться о том, как сократить парниковые выбросы, так чтобы избежать катастрофических сценариев — пока не получается.
            </p>
            <p>
                А значит всем нам нужны такие проекты, как «Земля касается каждого». Сохранение диких лесов, экономика замкнутого цикла, зелёная энергетика — это всё, что помогает сохранить климат в допустимых пределах, и это то, чем занимается наша команда при поддержке сторонников.
            </p>
            <p>
                И вы тоже можете стать частью этого проекта! <b>Сделайте подарок планете и себе — поддержите Землю!</b>
            </p>
        </div>        
    </div>
</div> 