<div class="about-us">
    <div class="about-us__up">
        <p class="about-us__text">
            <span class="green">GreenLink</span>&mdash;&nbsp;будущее экологии в&nbsp;ваших руках!
        </p>
    
        <p class="about-us__text">
            Наш сервис делает утилизацию отходов и&nbsp;переработку одежды <span class="green">простой</span> и&nbsp;<span class="green">вдохновляющей</span>!
        </p>
    
        <p class="about-us__text">
            Присоединяйтесь к&nbsp;нам&nbsp;&mdash; <span class="green">вместе</span> мы&nbsp;создаем <span class="green">зеленую</span> планету!
        </p>
    </div>

    <div class="about-us__information__block">
        <div class="about-us__information__text">
            <p>
                Наш эко-сервис разработан с целью облегчить поиск и утилизацию вещей, которые больше не нужны пользователям, содействуя устойчивому потреблению и снижению отходов. Мы стремимся создать удобную платформу, позволяющую легко находить ближайшие пункты сдачи и утилизации вещей, предоставляя подробную информацию о принимаемых материалах и инструкции по правильной сдаче.
            </p>
    
            <p>
                Наши усилия направлены на стимулирование эффективного использования ресурсов и поддержку процессов переработки. Мы убеждены, что наш сервис способствует экологической ответственности, помогая пользователям принимать осознанные решения в отношении утилизации и переработки вещей.
            </p>
    
            <p>
                Мы также стремимся создать сообщество, где люди могут обмениваться опытом и идеями по устойчивому образу жизни. Наша цель - вдохновить и объединить людей вокруг заботы о окружающей среде и совместного стремления к созданию зеленого и устойчивого будущего. Присоединяйтесь к нам в этом важном путешествии к более экологичному образу жизни!
            </p>
        </div>

        <img class="about-us_photo__header" src="assets/about-us/man2.jpg">
    </div>

    <div class="about-us__links">
        <div class="container">
            <div class="block">
                <div>
                    <p>Убираем мусор из Мирового океана...</p>
                    <img src="../../../assets/about-us/first.jpg">
                </div>
                <div>
                    <p>Заняли в прошлом году первое место среди сервисов по переработке...</p>
                    <img src="../../../assets/about-us/2.jpg">
                </div>
            </div>
            <div class="block">
                <div>
                    <p>Открываем новые точки для сдачи мусора...</p>
                    <img src="../../../assets/about-us/3.png">
                </div>
                <div>
                    <p>Сотрудничество с ЖизньМарт...</p>
                    <img src="../../../assets/about-us/4.png">
                </div>
            </div>
        </div>
    </div>
    
</div>
