<div class="fallen-listya">
    <div class="header">
        <div class="header__text">
            <div class="header__date">
                14.11.2023
            </div>
            <h1>
                Нужно ли убирать опавшие листья в городах?
            </h1>
        </div>
        <img class="photo-listya" src="assets/news/listya.jpeg">
    </div>
    <div>
        <div class="main__text first__text">
            Каждую осень в большинстве российских городов происходит одна и та же история: в парки и скверы выходят рабочие, собирают опавшие с деревьев листья в кучи, складывают их в контейнеры или просто в большие пластиковые мешки, и затем сжигают или куда-нибудь вывозят — чаще всего просто на свалки, как обычный мусор. <b>Разбираемся, хорошо это или плохо для городов и городских зелёных насаждений.</b>
        </div>

        <div class="main__title__text__2">
            Когда нужно убирать листья?
        </div>

        <ul class="main__text list">
            <li>Большое количество листьев на газоне может подавлять рост травы, приводить к её выпреванию, потере декоративных качеств газона. В таких случаях листву убирать нужно.</li>
            <li>Листья на проезжей части, особенно на улицах с оживленным движением, могут мешать проезду автотранспорта.</li>
            <li>Листья на пешеходных дорожках с твёрдым покрытием могут мешать пешеходам, на них можно поскользнуться и упасть, особенно в сырую погоду.</li>
            <li>В местах массового пребывания людей листья часто смешиваются с мусором, выглядит это крайне неэстетично. Такую смесь приходится убирать целиком.</li>
            <li>Могут быть случаи, когда деревья поражаются вредителями, борьба с которыми требует, в числе прочего, уборки поражённых листьев (например, листьев конского каштана, поражённых каштановой минирующей молью). В таких случаях важность уборки и уничтожения листьев тоже не вызывает сомнений.</li>
        </ul>

        <div class="main__title__text__2">
            В каких случаях уборка листвы не нужна?
        </div>

        <div class="main__text">
            Бывают ситуации, когда листья не создают таких явных проблем и неудобств, например, в парках и скверах под кронами вполне здоровых деревьев, или в городских лесах, или просто вдали от дорог и улиц, в мало посещаемых людьми местах. В таких ситуациях уборка листьев не просто бесполезна, она может сильно навредить почве, деревьям, кустарникам и зелёным насаждениям в целом.
            <p>
                Дело в том, что здоровье и плодородие почвы в очень большой степени зависит от того, как много в ней и на её поверхности содержится мертвого органического вещества — остатков живых организмов, главным образом растений, разной степени разложения. От содержания мёртвого органического вещества во многом зависит внутренняя структура почвы, её влагоёмкость, воздухопроницаемость, теплоизолирующие свойства. А от этого в свою очередь зависит жизнь корней зелёных растений, в том числе деревьев и кустарников.             </p>
            <p>
                Чем меньше в почве органики, тем обычно хуже чувствуют себя зелёные насаждения, хуже выглядят, хуже выполняют все свои важные средообразующие функции. А основным источником мёртвого органического вещества в почве, особенно в городах, где любые крупные древесные остатки убираются работниками садово-паркового хозяйства, являются именно опавшие листья деревьев и кустарников. 
            </p>
            <p>
                Если эти листья регулярно убирать, то приток органического вещества в почву почти полностью прерывается. Поскольку уже имеющееся в почве органическое вещество постепенно теряется (используется различными живыми организмами, вымывается, окисляется, разлагаясь на воду, углекислый газ и остаточные минеральные вещества). Отсутствие притока новой органики ведёт к довольно быстрому обеднению и уплотнению почвы, ухудшению условий для жизни растений.
            </p>
            <p>
                Кроме того, с собираемой листвой уносится и часть элементов минерального питания растений, что тоже обедняет почву. Львиную долю своего исходного плодородия почва может потерять буквально за несколько лет регулярной уборки листьев, максимум — за первые десятилетия, в зависимости от того, какая именно почва и насколько интенсивно убирается листва. А ещё уборка опавших листьев увеличивает риск повреждения корней и других подземных органов растений зимними морозами — это тоже плохо для здоровья зелёных насаждений.
            </p>

            <p class="text__quote">
                Поэтому там, где опавшие листья не создают никаких явных проблем, и где нет явных причин их убирать, лучше оставить их в покое.
            </p>
            
            <p>
                Чем больше их останется в таких местах, тем здоровее будут деревья и кустарники, с которых эти листья опали. И тем лучше городские зелёные насаждения будут выполнять свои полезные для людей функции: защищать нас от шума и пыли, увлажнять и охлаждать воздух в летнюю жару, создавать тень, выделять фитонциды — вещества, убивающие болезнетворных бактерий. И просто будут более красивыми, чем деревья и кустарники, растущие на бедной почве, потерявшей своё плодородие в результате многих лет уборки сухих листьев.
            </p>
        </div>

        <div class="main__title__text__2">
            Что делать, чтобы не убирали опад
        </div>

        <div class="main__text">
            Самое простое — писать заявления и указывать городской администрации на нарушение правил обращения с опавшей листвой. Если жители двора или посетители парка не хотят, чтобы территорию очищали от листвы, следует написать заявление с требованием не делать этого и указать точный адрес. Если листву убирают или уже убрали, можно пожаловаться на организацию-подрядчика. Нарушение нужно подкрепить фотографиями.
        </div>
    </div>
</div> 