<div class="gifts">
    <app-back-button></app-back-button>
    <div class="header">
        <div class="header__text">
            <div class="header__date">
                01.12.2023
            </div>
            <h1>
                Как экологично упаковать подарки?
            </h1>
        </div>
        <img class="photo-gifts" src="assets/news/podarok.jpg">
    </div>
    <div>
        <div class="main__title__text">
            Стеклянные баночки, экомешочки и платки
        </div>

        <div class="main__text">
            Во время праздников магазины наполняются покупателями, а окружающая среда — праздничной упаковкой. Через минуту после распаковки подарка банты, ленточки и обёрточная бумага становятся ненужными и отправляются в мусорное ведро. И большая их часть не перерабатывается. <b>Рассказываем, почему нужно отказываться от упаковки и чем украсить подарок так, чтобы он удивлял без традиционной обёрточной бумаги.</b>
        </div>

        <div class="main__title__text__2">
            Чем так плоха праздничная упаковка? Она же красивая и всем нравится!
        </div>

        <div class="main__text">
            В 2022 году объём мирового рынка обёрточной бумаги оценивался в 17,8 миллиардов долларов, а к 2031 он может вырасти до 31,9 млрд. Эти цифры подтверждают, как сильно люди любят упаковку. Но упаковка —  это горы отходов. Только в одной Канаде ежегодно выбрасывают 540 тысяч тонн упаковки и подарочных пакетов — столько же весят, например, 1 200 000 белых медведей. А ещё рулоны обычно завёрнуты в пластик —  и это тоже мусор.
            
            <img class="img__gift" src="assets/news/upakovka.jpeg">

            <p>
                Несмотря на слово «бумага» в названии, <b> большая её часть не перерабатывается, </b> так как она может быть покрыта тонким слоем пластика. Ещё на неё часто приклеены банты и лента. А украшенная глиттером обёртка и вовсе опасна: такие блёстки сделаны из крошечных кусочков пластика – микропластика. В дальнейшем он попадает в водоёмы и загрязняет их, а животные заглатывают эти крошечные частички вместе с водой и накапливают их в желудках.
            </p>

            <p class="text__quote">
                Почему-то мы все вместе решили, что подарок не может радовать по-настоящему, если он не спрятан внутри яркого и блестящего мусора. Но пора уже отказаться от этого. В конце концов, очаровательные Санта-Клаусы или снежинки с праздничной упаковки не будут радовать вас больше минуты, но уж точно будут долго смотреть на серое небо над свалкой.
            </p>

            <p>
                <b>Поэтому лучшая упаковка —  это её отсутствие.</b> Книгу, шарф, свечу, цветок или духи вы можете подарить просто так —  совсем не обязательно во что-то их оборачивать. Ведь цель сюрприза в том, чтобы просто удивить вашего любимого человека и подарить ему внимание, а не лишний одноразовый мусор. 
            </p>

            <img src="assets/news/upakovka2.jpeg">

            <p>
                А ещё можно попросить получателя закрыть глаза и открыть их после того, как вы положите подарок в руки —  эффект неожиданности будет тот же, что и от красивой упаковки, только без мусора.
            </p>
        </div>

        <div class="main__title__text__2">
            А если всё же очень хочется обернуть подарок?
        </div>

        <div class="main__text">
            Для начала стоит поискать старую праздничную упаковку, пакетики и коробки, которые дарили вам —  вдруг что-то осталось с прошлых праздников. И использовать повторно. Если вы их всё же не найдёте, можете завернуть подарок в то, что есть у вас дома. 
        </div>

        <div class="main__title__text">
            Стеклянные баночки
        </div>

        <div class="main__text">
            Загляните на кухню, там могут оказаться пустые стеклянные баночки — в них можно положить небольшой подарок — например, подарочную карту или серёжки. Дно можно аккуратно выложить бумагой для выпечки или заполнить песком и другими материалами. А в конце обвязать её красивой тканью. Баночки отлично подходят в качестве упаковки, потому что после праздников их дальше можно использовать — например, наполнить крупами, чаем, залить в них мёд или варенье. 

            <img class="img__gift" src="assets/news/can.jpeg">
        </div>

        <div class="main__title__text__under">
            Бумага для выпечки
        </div>

        <div class="main__text">
            Там же, на кухне, есть бумага для выпечки. Она приятная на ощупь и однотонная — завернув в неё подарок, вы сможете написать доброе послание или нарисовать цветок. Ну или оставить её нетронутой и минималистичной.
        </div>

        <div class="main__title__text">
            Кухонное полотенце, экосумка или экомешочек
        </div>

        <div class="main__text">
            В шкафах точно найдётся и новое кухонное полотенце, а подарок в нём — это уже два подарка! Вы не только радуете друга, но и дарите ему полезную вещь. Ещё «подарком в подарке» может стать экомешочек и экосумка — с ними стоит ходить в магазин, чтобы не использовать пакеты. Сейчас в России люди ежедневно тратят 116 тысяч пакетов. Подарите экомешочек близкому и вместе вы внесёте вклад в снижение этого числа. 

            <img class="img__gift" src="assets/news/bag.jpeg">
        </div>

        <div class="main__title__text__under">
            Платки-фуросики
        </div>

        <div class="main__text">
            Подарок можно завернуть и в платки-фуросики — квадратный кусок ткани. Фуросики появились в Японии ещё до нашей эры, в них перевозили ценные товары. Сейчас это экологичная альтернатива праздничной упаковке, которую можно использовать несколько раз — завязывать ею волосы или носить в таких платках ланчбокс. Ещё в 2006 году министр окружающей среды Японии Юрико Коикэ призывала население чаще использовать фуросики, чтобы сократить количество пластика. 

            <img class="img__gift" src="assets/news/gift2.jpeg">
        </div>

        <div class="main__title__text__under">
            Коробочки
        </div>

        <div class="main__text">
            Подарки можно дарить и в красивой картонной или железной коробочке — она тоже окажется полезной упаковкой. После праздников в ней освободится место, и туда могут переехать иголочки, пуговки и другие маленькие вещи. Специально коробку можно не покупать — обувная тоже подойдёт. Оберните её в старые газеты, журналы или карты. Кстати, в них тоже можно упаковать подарок. 

            <p>
                А ещё не бойтесь фантазировать. Вы точно сможете удивить получателя подарка, если спрячете цепочку, кольцо или серёжки в пустой грецкий орех.
            </p>

            <p>
                Если дома совсем ничего нет, то лучше купите то, что потом можно сдать на переработку. Главное — избегать блёсток и пластиковых фрагментов: с ними упаковку переработать будет сложнее или вовсе невозможно. Если вы нашли перерабатываемую бумагу, сначала проверьте её.
            </p>

            <p>
                Программа утилизации отходов Великобритании Recyle Now предлагает провести «тест на хруст»: если вы сможете смять обёрточную бумагу, то её скорее всего можно переработать. Если же праздничную упаковку подарили вам, не выкидывайте её и используйте повторно на другой праздник. Так вы подарите ей вторую жизнь.
            </p>
        </div>

        <div class="main__title__text">
            А как же декор?
        </div>

        <div class="main__text">
            Для украшения подарка подойдут натуральные вещи. Сходите в лес и наберите шишек, листьев, кедровых или сосновых веток и каштанов. А ещё можно заранее засушить цветы и приклеить их на подарок.

            <img class="img__gift" src="assets/news/decor.jpeg">

            <p>
                Палочки корицы — ещё один отличный вариант для украшения. Они вкусно пахнут и к тому же компостируются. Просто обвяжите их шерстяной ниткой и добавьте сухие фрукты — яблоки или апельсины. Корицу и фрукты можно потом положить в праздничный чай.
            </p>

            <img src="assets/news/decor2.jpeg">

            <p>
                Главное, помните: лучшая упаковка — та, что не вредит природе. И чем меньше пластика вы подарите, тем лучше.
            </p>
        </div>
    </div>
</div>