<div class="burn-kaban">
    <app-back-button></app-back-button>
    <div class="header">
        <div class="header__text">
            <div class="header__date">
                26.07.2023
            </div>
            <h1>
                Под Екатеринбургом на покрышках сжигают кабанов и лосей
            </h1>
        </div>
        <img class="photo-burn-kaban" src="assets/news/kaban.jpg">
    </div>
    <div>
        <div class="main__title__text">
            Жители села обнаружили «крематорий» у себя под боком
        </div>

        <div class="main__text">
            Под Екатеринбургом устроили полигон, где сжигают трупы диких животных на покрышках. Жители села Щелкун обнаружили, что в паре сотен метров от их домов появился импровизированный крематорий. В небольшой карьер привозят туши лосей, кабанов и других крупных животных, кладут на покрышки и поджигают. Черный дым при этом поднимается высоко над селом.
            <p>
                Покрышки относятся к четвертому классу опасности, из них запрещено даже делать клумбы во дворах. При сгорании они выделяют массу вредных веществ. В котлован возле Щелкуна тем временем привезли такое «топливо» на грузовике службы благоустройства Сысертского городского округа.
            </p>
            <img class="burn-kaban-size" src="assets/news/kaban2.png">
            <p>
                Местная жительница рассказала, что ее соседи категорически против такого неэкологичного соседства.
            </p>
            <p>
                — У нас под боком жгут биологические отходы: лосей, кабанов и прочих. Животные умирают где-то, а сжигают у нас, очень близко к домам. Я вчера доехала туда, вышла из машины — и меня стошнило, честное слово, такая там вонь стоит. Приехала — перестирала всю одежду. Люди возмущены. Почему у нас такое происходит? — рассказала владелица дома.
            </p>
            <p>
                По ее словам, с мая таким способом в селе уничтожали диких животных как минимум три раза.
            </p>
            <img class="burn-kaban-size" src="assets/news/kaban3.png">
            <p>
                В распоряжении редакции есть реестр мест для экстренного уничтожения биологических отходов. Там указаны шесть точек: карьеры в двух километрах к востоку от поселка Бобровского, на расстоянии 1,75 километра от поселка Двуреченска, 2,5 километра — от поселка Октябрьского, в 300 метрах от села Абрамово и в селе Никольском, а также котлован в селе Щелкун — «в 1 километре севернее села».
            </p>
            <p>
                Мы обратились за комментарием к главе Сысерти. Он ответил, что места сжигания определены постановлением администрации Сысертского городского округа еще в 2019 году, за мероприятия по предупреждению и ликвидации болезней животных с мая 2022 года отвечает местное «Благоустройство». На уточняющий вопрос относительно законности сжигания биологических отходов с помощью покрышек Дмитрий Нисковских пока не ответил.
            </p>
            <p>
                Ведущий специалист департамента по охране, контролю и регулированию использования животного мира в Сысертском городском округе Андрей Сакулин рассказал, что в Щелкуне сжигают диких животных, которые попали под машину.
            </p>
            <p>
                — Постановлением главы города утверждены места, где можно уничтожать трупы погибших животных. Их отвозят на ближайшие к месту гибели точки. Недалеко от Щелкуна Челябинский тракт, там же — парк «Бажовские места», много диких животных. И уничтожают так в районе Челябинского тракта большое количество этих животных, их часто сбивают, а потом приходится утилизировать, — рассказал Андрей Сакулин.
            </p>
            <p>
                В правилах утилизации умеренно опасных биологических отходов сказано, что их надо уничтожать в печах или под открытым небом в траншеях до образования негорючего остатка либо захоранивать в скотомогильниках или отдельно стоящих биотермических ямах, сделанных до конца 2020 года.
            </p>
            <p>
                У жителей Щелкуна уже есть опыт борьбы за экологию в своем селе. Они обращались к губернатору с просьбой спасти озеро, которое дало название их населенному пункту. Евгений Куйвашев пообещал найти средства на очистку дна от ила. Также они выступают против строительства мусорного полигона рядом с селом.</p>
        </div>
    </div>
</div> 