<div class="doklad">
    <app-back-button></app-back-button>
    <div class="header">
        <div class="header__text">
            <div class="header__date">
                07.12.2023
            </div>
            <h1>
                Экологи представили доклад о развитии крышных солнечных электростанций
            </h1>
        </div>
        <img class="photo-doklad" src="assets/news/doklad.jpg">
    </div>
    <div>
        <div class="main__title__text">
            Солнце поможет справиться с волнами жары в городах
        </div>

        <div class="main__text">
            7 декабря 2023 года на международном форуме по ВИЭ и электротранспорту РАВИФОРУМ проект «Земля касается каждого» представил доклад, написанный вместе с Центром охраны дикой природы, на тему крышной фотовольтаики (крышных солнечных электростанций) в Москве.

            <p>
                Доклад посвящён необходимости адаптации энергетической системы к изменениям климата и повышению её устойчивости в условиях увеличивающихся нагрузок из-за продолжительных волн жары и роста максимальных летних температур. Эти негативные факторы проявляются при постоянном ​​«естественном» приросте потребности в электроэнергии в результате строительства новых зданий. 
            </p>
            
            <p>
                <b>Тезисы доклада:</b>
            </p>

            <ul class="main__text list">
                <li>Изменение климата приводит к учащению волн жары и повышению нагрузки на энергосистемы из-за увеличения потребления электроэнергии для вентиляции и кондиционирования.</li>
                <li>Площадь крыш зданий, находящихся в собственности Москвы, составляет примерно 20 кв. км., из которых около 7 кв. км могут быть пригодны для установки солнечных электростанций общей мощностью порядка 1,4 ГВт.</li>
                <li>Получаемая электроэнергия может помочь решить проблему растущих пиков потребляемой мощности в волны жары.</li>
                <li>Солнечные панели создают на крышах зданий постоянную тень, в результате чего помещения под крышами меньше нагреваются и, следовательно, в меньшей степени нуждаются в кондиционировании. Ночью, а также зимой солнечные панели, наоборот, способствуют удержанию тепла в помещении, действуя как дополнительная изоляция.</li>
                <li>Себестоимость производства электроэнергии за счет солнечных электростанций, подключенных к сети, уже сравнима или ниже цены электроэнергии, покупаемой потребителями у сбытовых компаний.</li>
                <li>Если в Москве появится масштабная крышная фотовольтаика, за счёт солнечных электростанций можно будет производить 1,5 млрд кВт*ч энергии в год, что сэкономит около 0,3 млрд кубометров газа и снизит парниковые эмиссии примерно на 0,56 млн тонн CO2.</li>
                <li>Помимо  крыш солнечные панели можно устанавливать и на фасады, что  повышает  потенциал солнечной генерации в условиях города. </li>
                <li>В России есть все технические возможности и юридические основания для развития крышной фотовольтаики.</li>
            </ul>

            <p>
                «По нашему мнению, широкое внедрение небольших солнечных электростанций в городах имеет огромный потенциал, — комментирует результаты исследования Владимир Чупров, исполнительный директор проекта “Земля касается каждого”, — Технология может способствовать не только сокращению выбросов парниковых газов в атмосферу, но также росту высокотехнологичного производства, созданию рабочих мест, повышению эффективности и безопасности зданий».
            </p>
            
            <p>
                Сегодня уже сформирована нормативно-правовая база, позволяющая физическим и юридическим лицам не только генерировать солнечную электроэнергию для собственных нужд, но и продавать излишки этой электроэнергии в общую сеть. Процедуры, конечно, ещё требуют доработки, но уже сейчас использование небольших солнечных электростанций понемногу набирает обороты.
            </p>
        </div>

        <div class="main__text text__quote">
            «Интересный факт. Установленная мощность солнечных электростанций в КНР составляет 392 ГВт, из которых около 150 ГВт  как раз те самые — крышные установки, — продолжает Владимир Чупров. — Для сравнения, установленная мощность всех электростанций в России составляет 245 ГВт. В 2022 году каждая пятая установленная в мире солнечная панель, была установлена на крыше дома в КНР. А всего за 2022 год в Китае было установлено рекордные 87,4 ГВт солнечных электростанций. Значительную часть этой мощности составляют небольшие установки, делая солнечную электроэнергетику в существенной степени децентрализованной.
            <p>
                Всё это возможно благодаря государственной программе КНР (Whole County PV programme), которая, подразумевает оснащение крышными солнечными электростанциями 50% государственных зданий, 40% публичных (школы, больницы и пр), 30% коммерческих и 20% деревенских домов. 
            </p>
            <p>
                При грамотной политике и устранении имеющихся препятствий и сложностей, всё это возможно и в нашей стране».
            </p>
        </div>
        
        <div class="main__text">
            Проект «Земля касается каждого» направит предложения в профильные ведомства и организации, которые могут заинтересоваться технологией, в том числе в администрации крупных городов, включая Москву и регионы. Предлагаемая технология может стать важным элементом региональных планов адаптации к изменению климата.
        </div>

    </div>
</div> 