<div class="zasuha">
    <app-back-button></app-back-button>
    <div class="header">
        <div class="header__text">
            <div class="header__date">
                16.11.2023
            </div>
            <h1>
                Жара, засуха, наводнения
            </h1>
        </div>
        <img class="photo-zasuha" src="assets/news/zasuha.jpg">
    </div>
    <div>
        <div class="main__title__text">
            Почему меняется климат и что с этим делать?
        </div>

        <div class="main__text">
            Аномальная жара, наводнения, сбои в работе атомных станций из-за нехватки воды — новости последних лет буквально пестрят информацией о том, что с климатом планеты что-то не так. Традиционно в этом новостном потоке из виду упускаются самые важные вопросы — что стало причиной этих погодных катаклизмов, и что с этим делать?
        
            <p>
                Понимание причин и того, как можно противостоять климатическому кризису помогает не просто наблюдать, но и влиять на стремительно меняющийся климат. 
            </p>

        </div>

        <div class="main__title__text__2">
            Почему происходит изменение климата?
        </div>

        <div class="main__text">
            Чтобы доподлинно выяснить, почему меняется климат, учёные проанализировали «природные маркеры», по которым, как по книге, можно изучить, как менялся климат. Сюда попали ледяные керны, годичные кольца деревьев, размеры ледников, океанские отложения и даже данные об изменении  угла наклона земной оси. Все эти сведения в совокупности показывают, что объяснить значительное потепление планеты с 1950-х годов только естественными причинами изменения климата нельзя. Учёные делают вывод, что с вероятностью в 95% основной причиной этого потепления стала деятельность человека.
            <p>
                Ископаемые виды топлива — уголь, нефть и газ — на сегодняшний день вносят наибольший вклад в глобальное изменение климата: на их долю приходится более 75% глобальных выбросов парниковых газов и почти 90% всех выбросов углекислого газа. В 2013 году суточный уровень содержания углекислого газа в атмосфере впервые в истории человечества превысил 400 частей на миллион. Это означает, что в каждом кубометре воздуха 400 мл занимает углекислый газ. В последний раз уровень был таким высоким примерно 3–5 миллионов лет назад, в эпоху плиоцена.
            </p>

            <p>
                Избыток парниковых газов в атмосфере Земли приводит к изменению климата, и глобальное потепление является одним из его признаков. Сейчас мир нагревается быстрее, чем когда-либо в истории человечества. Повышение температуры приводит к изменению погодных условий, нарушению многих балансов, сложившихся в природе. Это создает множество рисков для многих форм жизни на Земле, включая человека.
            </p>
            
            <p>
                Конечно, помимо деятельности человека, есть и другие факторы, влияющие на климат. Ключевой вопрос заключается в том, какие факторы оказываются  сильнее — природные или связанные с деятельностью человека? Есть учёные и научные школы, которые оценивают антропогенный фактор, как незначительный и доказывают, что климат в основном меняется под воздействием природных факторов. Однако множественные исследования говорят, что это не так.
            </p>
            
            <p>
                Можно сказать, что в мире уже состоялся научный консенсус: среди всего перечня причин изменения климата антропогенный фактор становится определяющим. Согласно расчётам МГЭИК — группы экспертов ООН по изучению изменения климата, —  деятельность человека [выбросы парниковых газов в результате сжигания угля нефти и газа, а также вырубка лесов, распашка земель и т. д.] является причиной глобального потепления примерно на 1,0°С выше доиндустриальных уровней с вероятным диапазоном от 0,8°С до 1,2°С.
            </p>
        </div>

        <div class="main__title__text__2">
            Какой позиции придерживается Россия?
        </div>

        <div class="main__text">
            Официальная позиция Российской Федерации поддерживает научный подход  об антропогенном изменении климата. Более того, Российская федеральная служба по гидрометеорологии и мониторингу окружающей среды (Росгидромет), которая  находится в ведении Минприроды России, утверждает, что природные факторы не были причиной глобального потепления, и даже напротив, сдерживали повышение температуры: «…вклад антропогенного роста атмосферной концентрации парниковых газов в температурный тренд с середины XX века был наибольшим, а суммарное воздействие остальных факторов только ослабляло рост температуры… Гипотезы о доминирующей роли естественных климатических факторов в наблюдаемых температурных изменениях не находят надежных научных подтверждений».
            <p>
                Стоит отметить, что ответ на вопрос, кто прав в научном споре о причинах изменения климата ведёт к необходимости кардинального пересмотра отношения человечества к планетарной экосистеме. Это означает в том числе перестройку международной правовой архитектуры и значительную корректировку действий национальных правительств по перестройке экономики и модели потребления природных ресурсов.
            </p>
            <p>
                И здесь мы подходим к вопросу: что делать?
            </p>

            <p class="text__quote">
                Стоит ли нам только приспосабливаться к новому климату, или нужно начать такую перестройку нашей цивилизации, которая позволит избежать катастрофических сценариев изменения климата в принципе?
            </p>

            <img src="assets/news/road.jpg">
        </div>

        <div class="main__title__text__2">
            Что делать с климатическим кризисом: бороться или приспосабливаться?
        </div>

        <div class="main__text">
            Мы считаем, что в этом вопросе нужен комплексный подход: мы проиграем, если будем концентрироваться на чём-то одном.
            <p>
                Безусловно, нам необходимо думать о том, как снизить вероятность катастрофических последствий  изменения климата. Это можно сделать и уже делается за счет сокращения  сжигания ископаемого топлива для производства электроэнергии, тепла, за счет декарбонизации транспорта, а также за счёт увеличения поглотительной способности лесов, почв,  которые “откачивают” углекислый газ из атмосферы.
            </p>

            <p>
                В этой связи обществу и политикам нужна перезагрузка, чтобы определиться с такими вопросами как энергетический переход к зелёной энергетике, прекращение процесса обезлесения планеты и многими другими. 
            </p>

            <p>
                Решая задачи, связанные с сохранением климата, мы одновременно решаем и множество других проблем — от токсического загрязнения, которое сопровождает та же ископаемая энергетика, до проблем неравенства между странами и целыми регионами планеты.
            </p>
            
            <p>
                Но, поскольку мы уже сейчас подвержены многим негативным последствиям климатического кризиса, важно уметь адаптироваться к меняющейся реальности — к фактическому и ожидаемому в будущем климату. На протяжении всей истории люди приспосабливались к изменениям климата и экстремальным явлениям и справлялись с ними. Однако тут необходимо отметить, что в последние примерно 10 тысяч лет климат Земли был относительно стабильным, и такая стабильность способствовала развитию нашей современной цивилизации. Однако в последние столетия антропогенный фактор, связанный с промышленной революцией, масштабным вторжением в естественные экосистемы разрушил эту относительную стабильность. И в отличие от прошлых изменений, климат будущего потребует от нас гораздо бóльших усилий для адаптации к новой реальности.
            </p>
        </div>

    </div>
</div>