<div class="butterflies">
    <app-back-button></app-back-button>
    <div class="header">
        <div class="header__text">
            <div class="header__date">
                27.05.2023
            </div>
            <h1>
                Такое случается раз в 10 лет! Урал вот-вот накроет нашествие бабочек-вредителей
            </h1>
        </div>
        <img class="photo-butterflies" src="assets/news/butterflies.png">
    </div>
    <div>
        <div class="main__title__text">
            А если вы захотите поймать бабочек, то сильно поможете ученым
        </div>

        <div class="main__text">
            Свердловскую область ждет нашествие бабочек. Всё из-за гигантских зеленых гусениц, которые атаковали поселки.
            <p>
                Вскоре эти гусеницы станут бабочками-боярышницами. В этом году ожидается их массовый вылет: он бывает раз в 10–12 лет. Бороться с насекомыми сложно.
            </p>
            <p>
                — Можно попробовать табачную пыль, припудривать или опрыскивать. Хорошее средство, экологичное. Есть современные инсектициды, но это всё равно яды и нам не сильно полезны, — посоветовал научный сотрудник Института экологии растений и животных УрО РАН Алексей Гилев.
            </p>
            <img class="butterflies-size" src="assets/news/butterflies2.png">
            <p>
                Однако есть и еще один вариант: помочь ученым. Для этого вы можете ловить боярышниц, складывать их в газету и передавать энтомологам.
            </p>
            <p>
                — Этот материал необходим для изучения различных аспектов морфологической изменчивости крыльев в пределах широкого ареала этого замечательного вида-вредителя! — объяснили ученые УрО РАН.
            </p>
            <p>
                В институте опубликовали подробную инструкцию о том, как правильно ловить бабочек. Беритесь за это, только если готовы поймать не менее 25 особей в одном месте. Впрочем, во время массового лета это должно быть несложно.  
            </p>
            <p>
                Ранее мы рассказывали, что в Екатеринбурге случилось нашествие загадочных зеленых насекомых. Они облепляют машины и людей на Широкой Речке. А на Юго-Западе люди страдают от мошек. Посмотрите также карту районов города, которые кишат тараканами.
            </p>
        </div>
    </div>
</div> 