/* You can add global styles to this file, and also import other style files */
.mapboxgl-marker {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color:  white;
  left:0;
  opacity:1;
  position:absolute;
  top:0;
  will-change:transform;
  transition:opacity 0.2s;
  &:hover {
    background-color: #8AC44B;
    transition: 0.1s all;
  }
  svg {
    display: none;
  }
  border: 6px solid #8AC44B;
}
